<div class="container">
  <div class="row">
    <div class="enroll-form">
      <div class="in-sub">
        <label>Subject:</label><input type="text" placeholder="Subject" >
      </div>
       
      <div class="in-sub">
          <label>Duration:</label><input type="number" placeholder="In months." >
        </div>

        <div class="in-sub">
            <label>Location:</label><input type="text" placeholder="Location" >
          </div>

          <div class="in-sub">
              <label>Faculty:</label><input type="text" placeholder="select faculty" >
            </div>

          <div class="in-sub">
              <span>Previously Enrolled for this Subject:</span>
              <br>
              <label>Yes:</label><input type="radio">
              <label>No:</label><input type="radio">
            </div>
            <div class="in-sub">
                <button class="btn-primary">Enroll</button>
              </div>
    </div>

  </div>

</div>
