.enroll-form{
    background-color:hsla(120,100%,50%,0.3);
    border: 1px solid black;
    margin:auto;
    width:100%;
    height:90vh;

}

.in-sub{
    text-align: center;
    margin-top: 2%;
}

label{
    
    margin-right: 5%;
    font-family:serif;
    font-weight: bold;
    font-size: 2vh;
  
}

input{
    width: 15vw;
    
}