

nav{
    padding: 0;
   
}

nav img{
    height:150px;
    margin: 0;
}

#collapsibleNavbar{
    font-weight: bold;
    margin-left:100px;
    color: white;
}

#collapsibleNavbar li{
    margin:20px;
    color: white;

}

#collapsibleNavbar li:hover{
    background:rgba(209, 110, 110, 0.2);

}

#demo{
   background: rgba(0,0,0,0)
}


