<nav class="navbar navbar-expand-md  navbar-light bg-light ">
    <div class="container-fluid">
             <img src="../../assets/images/sub-logo.png">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Test</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Library</a>
                </li> 
              </ul>
            </div> 

                <input class="form-control col-xs-2 col-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>         
    </div>    
</nav>


<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/background1.jpg" alt="Los Angeles" width="100%" height="500">
        <div class="carousel-caption">
          <p>Visit thsese heavenary places</p>
           <button class="btn btn-primary" type="button">Get a tour</button>
            
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/background2.jpeg" alt="Chicago" width="100%" height="500">
        <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
          </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  