<div class="container">
  <ul>
    <li><a routerLink="Subject">Subject</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
</div>

<div class="container " *ngIf="!showEnrollForm">
  <h5 class="sub-det">You are Enrolled to following subjects:</h5>
 <p *ngIf="!showview" >
   currently you are not enrolled to any subject
  </p>
</div> 

<div class="container">
    <h6 *ngIf="!showEnrollForm" (click)="triggerEnroll()">Enroll For a Subject</h6>
</div>

<app-student-enroll *ngIf="showEnrollForm"></app-student-enroll>








<!--       
      <div >
      <app-home></app-home>
      <div *ngIf="showview"style="text-align: center">
              <input class="searchBox" type="text"  name="searchBox" placeholder="search"  >
              <a href="#"><img  width="100px" hight=50px style="padding-top: 10px" src="../assets/images/search.jpeg"></a>
      </div>

<div  *ngIf="showview" class="container">
        <h2>Students</h2>          
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor= "let student of studentList">
              <td>{{student.fname}}</td>
              <td>{{student.lname}}</td>
              <td>{{student.email}}</td>
              <td><input type="submit" value="Get Details" (click)="getstudentDetail(student)"></td>
              <td><input type="submit" value="Send Invite"></td>
            </tr>
            <!-- <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td><input type="submit" value="Get Details"></td>
              <td><input type="submit" value="Send Invite"></td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td><input type="submit" value="Get Details"></td>
              <td><input type="submit" value="Send Invite"></td>
            </tr> -->
          <!-- </tbody>
        </table>
      </div>
    </div>
      <app-studentdetail  *ngIf="!showview" [student] = "student">
             
      </app-studentdetail> --> 

        
    

