
<div class="container" >
<div class="jumbotron" style="text-align:center">
  <h1 >
    Welcome to {{ title }}!
  </h1>
  <img   width="300" height="100px" alt="Angular Logo" src="../assets/images/sms.jpg">
</div>
</div>

<div style="display: inline;">
<ul style="display: inline;">
  <li >
      <button>
    <a routerLink="student">STUDENTS</a>
      </button>
  </li>
  <li >
      <button>
    <a routerLink="teacher">TEACHERS</a>
      </button> 
  </li>
  <li >
    <button>
    <a routerLink="subject">SUBJECT</a>
  </button>
  </li>

  <li >
      <button>
      <a routerLink="admin">ADMIN</a>
    </button>
    </li>
</ul>
</div> 
