
<div class="container" >
<div class="jumbotron" style="text-align:center">
  <h1 >
    Welcome to {{ title }}!
  </h1>
  <img   width="300" height="100px" alt="Angular Logo" src="../assets/images/sms.jpg">
</div>
</div>

<div style="display: inline;">
<ul style="display: inline;">
  <li >
    <a routerLink="student">STUDENTS</a>
  </li>
  <li >
    <a routerLink="teacher">TEACHERS</a>
  </li>
  <li >
    <a target="_blank" rel="noopener" href="https://blog.angular.io/">SUBJECTS</a>
  </li>
</ul>
</div> 
